

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f1a09e;
  font-family: 'Quicksand';
}

#logo{
  position:fixed;
  text-align: left;
  margin-left: .5%;
  margin-top: 2%;
  z-index: 100;

}

#logo img{
  height:70px;
}

a{
  text-decoration: none;
}

h1{
  text-align: center;
  color:white;
}

.navbar{
  position:fixed;
  top:2%;
  right: 2%;
  width: 100%;
  text-align: right;

}

.navbar a{
  text-decoration: none;
  padding: 0.25%;
  color:white;
  opacity: .75;
}

.navbar a:hover{
  color:red;
}

#vol1mark{
  width:4%;
}

.you{
text-align: center;
margin-bottom: 8%;
margin-top: 8%;
}

.you img:hover{
  transform: rotate(25deg);
}

.thissummer img{

}

.thissummer{
margin-left: 27%;
margin-top: 5%;
margin-bottom: 5%;
}
.thissummer img{

}


.footer{
  width:100%;
  height:auto;
}

.footer img{
  width:100%;
}
