body{
  font-family: 'Quicksand';
}

a{
  text-decoration: none;
}

#logo{
  position:fixed;
  text-align: left;
  margin-left: 3%;
  margin-top: 1%

}

#logo img{
  height:70px;
}

iframe{
  margin-left: 15%;
}

.navbar{
  position:fixed;
  top:2%;
  right: 2%;
  width: 100%;
  text-align: right;
  font-family: 'Quicksand';
}

.navbar a{
  text-decoration: none;
  padding: 0.25%;
  color:black;

}

.navbar a:hover{
  color:pink;
  opacity:1;
}


a{
  text-decoration: none;
  color:black;
  opacity: 1;
}
a:hover{
  color:pink;

}

#vol1mark{
  width:4%;
}

.title{
  font-size: 24pt;
  line-height: 28pt;
  text-align: center;
  margin-top: 08%;
}

.subtitle{
  font-size: 24pt;
  line-height: 28pt;
  text-align: center;
  margin-bottom: 2%;
}

.footer{
  width:100%;
  height:auto;
}

.footer img{
  width:100%;
}


.text{
  line-height: 18pt;
  width: 62%;
  margin: 0 auto;

}

.text img{
  width:100%;
  text-align: center;
}

#signature{
  margin-bottom: 20%;
  text-align: center;

}

#cake {
  width: 65%;
  margin-left: 15%;
}

}
