.list{
  width:35%;
  margin-left: 10%;
  margin-top:10%;
  margin-bottom:20%;
  font-family: 'Quicksand';
  line-height: 18pt;
}

.title{
  font-size: 24pt;
  line-height: 28pt;
}

.footer{
  width:100%;
  height:auto;
}

.footer img{
  width:100%;
}
