

 @import "compass/css3";


html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f1a09e;
}

a{
  text-decoration: none;
}

#logo{
  position:fixed;
  text-align: left;
  margin-left: 5%;
  opacity:1;

}

#logo img{
  height:70px;
}

.navbar{
  position:fixed;
  top:2%;
  right: 70px;
  width: 100%;
  text-align: right;
  font-family: 'Quicksand';
}

.navbar a{
  text-decoration: none;
  padding: 0.25%;
  color:white;
  
}

.navbar a:hover{
  color:red;
}

.longstoryshort{
  height:90%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

.longstoryshort video{
  height:100%;
}

.text{
  margin-left:42%;
  margin-top: 2%;
  margin-bottom: 5%;
  font-family: 'Quicksand';
}

.footer{
  width:100%;
  height:auto;
}

.footer img{
  width:100%;
}
