

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f1a09e;
  font-family: 'Quicksand';
}

#logo{
  position:fixed;
  text-align: left;
  margin-left: .5%;
  margin-top: 2%;
  z-index: 100;

}

#logo img{
  height:70px;
}

a{
  text-decoration: none;
}

h1{
  text-align: center;
  color:white;
}

.navbar{
  position:fixed;
  top:2%;
  right: 2%;
  width: 100%;
  text-align: right;

}

.navbar a{
  text-decoration: none;
  padding: 0.25%;
  color:white;
  opacity: .75;
}

.navbar a:hover{
  color:red;
}

.londontomongolia{
  margin-left: 25%;
  margin-top:2%;
  margin-bottom:5%;
}

.londontomongolia2{
  margin-left: 20%;
  margin-top:2%;
  margin-bottom:5%;
}

.londontomongolia2 img{
  height:400px;
}


.footer{
  width:100%;
  height:auto;
}

.footer img{
  width:100%;
}
